/.vscode
/client-1.1.py
/fixing_client.py
/fixing_server.py
/manager-1.1.py
/manager_client.exe
/pyinstxtractor.py
/pyqtchat.py
/server.properties
/server_manager.exe
/server_manager.pyc
/server_names.json
/server_worlds.json
/tempCodeRunnerFile.py
/test.bat