/.vscode
/Server
/Worlds
manager_settings.json
package_host.bat
/__pycache__
/Server copy
/Manager_host
/Manager
/Installer
/dist
*.zip
changes.md
minecraft_mgmt_schemas.md
test.py
test_api.py
supervisor_debug.log
Manager_host.exe
Manager.exe