/.vscode
/Server
/manager_settings.json
/package_host.bat
/package_manager.bat
/__pycache__
/Server copy
/Manager_host
/Manager
/Installer
*.bat
changes.md
minecraft_mgmt_schemas.md
test.py
make_icon.py
supervisor_debug.log
Manager_host.exe
Manager.exe